html {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
}

.column {
  padding-left: 5px;
  padding-right: 5px;
}

.amongrow {
  display: flex;
}

.amongcolumn {
  padding: 10px;
}

#amonguse {
  border-collapse: collapse;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom:5px
}

td.mongus {
    background-color: rgba(240, 32, 32, 0.741)
}

#visor{
    background-color: rgb(77, 157, 184);
}

#amongback {
  width: 20px;
  height: 50px;
  margin-top: auto;
  margin-bottom: 38px;
  margin-left: 5px;
  margin-right:10px;
  background-color: rgba(240, 32, 32, 0.741);
}

/*-----------popup css------------*/ 
.button {
  padding: 10px;
  border: 2px solid orange;
  border-radius: 20px/50px;
  cursor: cell;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: orange;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  color: #333;
}

body{
  margin: 5%;
  padding: 5%;
}


.bodyclass {
  position: relative;
  transform-style: preserve-3d;
  border-radius: 0px;
}
.bodyclass::before {
  content: "";
  position: absolute; 
  inset: 0px;
  background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
  filter: blur(10px);
  transform: translate3d(-19px,11px,-1px);
  border-radius: inherit;
  pointer-events: none;
}

.box{
  background: white;
  border-radius: 10px;
  border-width: 10px;
  border: solid;
  border-color: black;
}